/* Reset some default styles for the body and HTML elements */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style the header and navigation */
header {
    background-color: #333; /* Background color for the header */
    color: #fff; /* Text color for the header */
    padding: 20px 0; /* Padding on top and bottom of the header */
    text-align: center; /* Center-align the content within the header */
}

h1 {
    font-size: 36px; /* Font size for the main heading */
}

h2 {
    font-size: 24px; /* Font size for the secondary heading */
}

nav ul {
    list-style-type: none; /* Remove default list bullet points */
    padding: 0; /* Remove default padding on the list */
}

nav ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add spacing between list items */
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color for links */
    font-weight: bold; /* Make links bold */
}

nav ul li a:hover {
    text-decoration: underline; /* Underline links on hover */
}


/* FOOOTER */
/* Style the footer */
footer {


    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 20px 0; /* Padding on top and bottom of the footer */
    text-align: center; /* Center-align the content within the footer */
    position: relative;
    margin-top: 315px;
}

footer p {
    margin: 5px 0; /* Add spacing between paragraphs within the footer */
}

footer a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color for links in the footer */
    font-weight: bold; /* Make links bold */
}

footer a:hover {
    text-decoration: underline; /* Underline links on hover */
}



