

/* Reset some default styles for the body and HTML elements */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style the header and navigation */
header {
    /* background-color: #333; Background color for the header */
    background-color: #04471C; /* Background color for the header */

    color: #fff; /* Text color for the header */
    padding: 20px 0; /* Padding on top and bottom of the header */
    text-align: center; /* Center-align the content within the header */
}

h1, h2, h3, h4{
    padding-left: 10px;
}
h1 {
    font-size: 25px; 

}

h2 {
    font-size: 24px; /* Font size for the secondary heading */
}

nav ul {
    list-style-type: none; /* Remove default list bullet points */
    padding: 0; /* Remove default padding on the list */
}

nav ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add spacing between list items */
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color for links */
    font-weight: bold; /* Make links bold */
}

nav ul li a:hover {
    text-decoration: underline; /* Underline links on hover */
}
/* SEARCH */
/* Style the form container */
form {
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

/* Style the form headings */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style form labels */
label {
   font-weight: bold;
}

.longLable{
 margin-left: -10px;
}

input[type="text"],
input[type="number"]{
    padding-left: 50px;
}

/* Style radio buttons and checkboxes */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    margin-bottom: 15px;
    
}

/* Style text inputs and number inputs */
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    

}

/* Style the submit button */
input[type="submit"] {
    background-color: #058C42;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Change button color on hover */
input[type="submit"]:hover {
    background-color: #16DB65;
}

/* Optional: Style the select dropdown arrow */
select {
    appearance: none; /* Remove default appearance (arrow) */
    background-image: url('arrow-down.png'); /* Replace with your own arrow image */
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 30px; /* Adjust padding to make room for the arrow */
}
/* TABLE */
/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

caption{
    color: #04471C;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

/* Style table headers */
th {
    background-color: #04471C;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

/* Style table rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Style table cells (data) */
td {
    padding: 10px;
   
}

/* Style links within table cells */
td a {
    text-decoration: none;
    color: #111111;
    margin-right: 10px;
}

/* Change link color on hover */
td a:hover {
    color: #04771C;
}
/* ABOUT US */
/* Custom styles for the "About Us" page */
/* Custom styles for the "About Us" page */
#about-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 50px;
    background-color: #fff; /* Background color for the "About Us" content */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
    max-width: 100vw; /* Set the maximum width to 70% of the viewport width */
}

/* Style for the "About Us" page content */
#about-content {
    margin-bottom: 70px;
    text-align: center; /* Center text within the container */
}


/* CARD */
/* Style the card container */
.card {
    width: 300px; /* Adjust the card width as needed */
    margin: 0 auto; /* Center the card horizontally */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align the card content */
}

/* Style the card title */
.card h1 {
    font-size: 24px;
    margin: 10px 0;
}

/* Style the card paragraphs */
.card p {
    margin: 5px 0;
}

/* Style links within the card */
.card a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

/* Change link color on hover */
.card a:hover {
    color: #0056b3;
}


/* SECTION */
.center{
    text-align: center;
}
/* Style the card grid */
.card-grid {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); Two columns */
    grid-template-columns: repeat(3, 1fr); /* Two columns */
    grid-template-rows: repeat(4, auto); /*Four rows */

    gap: 20px; /* Adjust the gap between cards as needed */
}


.gridImage{
    grid-row: 1/-1;
    margin-left: 20px;
}

/* Style individual cards (sections) */
section {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-left: 20px;
}


/* Style headings within the cards */
section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}



/* Style list items within the cards */
section ul li {
    margin-bottom: 5px;
}


/* FOOOTER */
/* Style the footer */
footer {
    background-color: #0D2818; /* Background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 20px 0; /* Padding on top and bottom of the footer */
    text-align: center; /* Center-align the content within the footer */
    margin-top: 320px;
}

footer p {
    margin: 5px 0; /* Add spacing between paragraphs within the footer */
}

footer a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color for links in the footer */
    font-weight: bold; /* Make links bold */
}

footer a:hover {
    text-decoration: underline; /* Underline links on hover */
}

.card-grid .hoverable ul {
    display: none;
  }
  
  /* Style the headings to indicate they are clickable */
  .card-grid .hoverable h3 {
    cursor: pointer;
    text-decoration: underline;
  }
  
  /* Show the content within .hoverable on hover */
  .card-grid .hoverable:hover ul {
    display: block;
  }

  progress {
    text-align: center;
    border-radius: 5px;

  }
  progress:after {
    content: attr(value)'%';
  }
  
    .view-link {
        display:flex;
        background-color: #058C42;
        color: #020202;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;

    }

    .view-link:hover {
        background-color: #16DB65; /* Change the background color on hover */
    }
    .remove-link {
        background-color: #058C42;
        color: #020202;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .remove-link:hover{
        background-color: #16DB65; /* Change the background color on hover */
    }

    .remove {
        background-color: #058C42;
        color: #020202;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
        float: right;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .remove:hover {
        background-color: #16DB65; 
    }

    .h1-table{
        color:#03592a;
        font-size: 24px;
        text-align: center;

        max-width: 100%;
  max-height:100%;

    }

    .image{
        padding-top: 20px;
        width:30% ;
        float: right;
        margin-right: 200px; 
     
    }

    .facts{
        padding-top: 20px;

        margin-left:200px;
    }

  
   
   
